/*---------------------NAVBAR---------------------------*/
.nav {
    background: #1439B3;
}

a.nav-link {
    color: white;
}

.nav-pheonix {
    background: #FF7600;
}

#login {
    float: right;
}

#login-dropdown {
    padding-left: 10px;
    padding-right: 10px;
}

.text-center {
    text-align: center;
}

.content {
    background-color: whitesmoke;
}
.dropdown-submenu {
    position: relative;
    }
    
    .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
    }
    
    .dropdown-submenu:hover>.dropdown-menu {
    display: block;
    }
    
    .dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
    }
    
    .dropdown-submenu:hover>a:after {
    border-left-color: #fff;
    }
    
    .dropdown-submenu.pull-left {
    float: none;
    }
    
    .dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
    }

/*---------------------CSS GRID LAYOUT---------------------------*/
/* CONTAINER */
.container {
    display: grid;
    align-content: space-evenly;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 5px;
}

.item-0 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row: 1;
    border-bottom: 3px solid #FF8333;
}

.item-1 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row: 2;
}

.item-2 {
    grid-column: 1;
    grid-row: 3;
}

.item-3 {
    grid-column: 2;
    grid-row: 3;
}

.item-4 {
    grid-column: 3;
    grid-row: 3;
}

.item-5 {
    grid-column: 4;
    grid-row: 3;
}

.item-6 {
    grid-column: 5;
    grid-row: 3;
}
/* ROW 
.row {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 5px;
}*/
