/*---------------------CSS GRID LAYOUT---------------------------*/
/* CONTAINER */
.container {
    display: grid;
    align-content: space-evenly;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 5px;
}