<!-- Navigation bar across top of screen -->
<ul class="nav nav-tabs">
    <li class="nav nav-pheonix"><a href="/" class="nav-link">Pheonix</a></li>
    <!-- IOCs -->
        <li class="dropdown">
            <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="/">
                IOCs
                <span class="caret"></span>
            </a>

            <ul class="dropdown-menu">
                <li><a href="/" class="nav-link">Indicators</a></li>
                <li><a href="/" class="nav-link">Low and Slows</a></li>
            </ul>
        </li>
    <!-- End IOCs -->

    <!-- Duty Book -->
        <li><a href="/" class="nav-link">Duty Book</a></li>
    <!-- End Duty Book -->

    <!-- Compliance -->
        <li class="dropdown">
            <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="/">
                Compliance
                <span class="caret"></span>
            </a>

            <ul class="dropdown-menu">
                <li><a href="/" class="nav-link">By Site</a></li>
                <li><a href="/" class="nav-link">By POR</a></li>
            </ul>
        </li>
    <!-- End Compliance -->

    <!-- Reports -->
        <li class="dropdown">
            <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="/">
                Reports
                <span class="caret"></span>
            </a>

            <ul class="dropdown-menu">
                <li><a href="/" class="nav-link">Daily</a></li>
                <li><a href="/" class="nav-link">Quarterly</a></li>
            </ul>
        </li>
    <!-- End Reports -->

    <!-- Analyst -->
        <li class="dropdown">
            <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="/">
                Analyst
                <span class="caret"></span>
            </a>

            <ul class="dropdown-menu">
                <li><a href="/" class="nav-link">Scanners</a></li>
                <li><a href="/" class="nav-link">Scheduled Scans</a></li>
                <li><a href="/" class="nav-link">Scans</a></li>
                <li><a href="/" class="nav-link">Scan Results</a></li>
                <li><a href="/" class="nav-link">IAVMs</a></li>
            </ul>
        </li>
    <!-- End Analyst -->

    <!-- Cyber Hunt -->
        <li class="dropdown">
            <a id="dLabel" role="button" data-toggle="dropdown" class="dropdown-toggle nav-link" data-target="#" href="/">
                Cyber Hunt
                <span class="caret"></span>
            </a>
        
            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">IOC Tracker</a>
                    <ul class="dropdown-menu">
                        <li><a class="nav-link" href="#">Windows</a></li>
                        <li><a class="nav-link" href="#">Linux</a></li>
                        <li><a class="nav-link" href="#">Mac</a></li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Attack Matrix</a>
                    <ul class="dropdown-menu">
                        <li><a class="nav-link" href="#">Windows</a></li>
                        <li><a class="nav-link" href="#">Linux</a></li>
                        <li><a class="nav-link" href="#">Mac</a></li>
                    </ul>
                </li>
                <li><a class="nav-link" href="/">Query Status</a></li>
            </ul>
        </li>
    <!-- End Cyber Hunt -->

    <!-- Program Support -->
        <li class="dropdown">
            <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="/">
                Program Support
                <span class="caret"></span>
            </a>

            <ul class="dropdown-menu">
                <li><a href="/" class="nav-link">User Administration</a></li>
                <li><a href="/" class="nav-link">Group Administration</a></li>
                <li><a href="/" class="nav-link">External User Administration</a></li>
            </ul>
        </li>
    <!-- End Program Support -->

    <!-- User Metrics -->
        <li><a href="/" class="nav-link">User Metrics</a></li>
    <!-- End User Metrics -->

    <!-- Subscriber Database -->
        <li><a href="/" class="nav-link">Subscriber Database</a></li>
    <!-- End Subscriber Database -->

    <!-- Ticketing -->
        <li><a href="/" class="nav-link">Ticketing</a></li>
    <!-- End Ticketing -->

    <!-- Tools -->
        <li><a href="/" class="nav-link">Tools</a></li>
    <!-- End Tools -->

    <!-- Login -->
        {% if current_user.is_anonymous %}
        {% include 'auth/_login.html' %}
        {% else %}
        {% include 'auth/_logout.html' %}
        {% endif %}
    <!-- End Login -->
</ul>
<!-- End Navigation bar -->