{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="../static/css/base.css">
{% endblock %}

{% block title %}My Blog{% endblock %}

{% block navbar %}
<!-- Navigation bar across top of screen -->
    <ul class="nav nav-tabs">
        <li class="nav nav-pheonix"><a href="/" class="nav-link">Pheonix</a></li>
    <!-- IOCs -->
        <li class="dropdown">
            <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="/">
                IOCs
                <span class="caret"></span>
            </a>

            <ul class="dropdown-menu">
                <li><a href="/" class="nav-link">Indicators</a></li>
                <li><a href="/" class="nav-link">Low and Slows</a></li>
            </ul>
        </li>
    <!-- End IOCs -->

    <!-- Duty Book -->
        <li><a href="/" class="nav-link">Duty Book</a></li>
    <!-- End Duty Book -->

    <!-- Compliance -->
        <li class="dropdown">
            <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="/">
                Compliance
                <span class="caret"></span>
            </a>

            <ul class="dropdown-menu">
                <li><a href="/" class="nav-link">By Site</a></li>
                <li><a href="/" class="nav-link">By POR</a></li>
            </ul>
        </li>
    <!-- End Compliance -->

    <!-- Reports -->
        <li class="dropdown">
            <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="/">
                Reports
                <span class="caret"></span>
            </a>

            <ul class="dropdown-menu">
                <li><a href="/" class="nav-link">Daily</a></li>
                <li><a href="/" class="nav-link">Quarterly</a></li>
            </ul>
        </li>
    <!-- End Reports -->

    <!-- Analyst -->
        <li class="dropdown">
            <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="/">
                Analyst
                <span class="caret"></span>
            </a>

            <ul class="dropdown-menu">
                <li><a href="/" class="nav-link">Scanners</a></li>
                <li><a href="/" class="nav-link">Scheduled Scans</a></li>
                <li><a href="/" class="nav-link">Scans</a></li>
                <li><a href="/" class="nav-link">Scan Results</a></li>
                <li><a href="/" class="nav-link">IAVMs</a></li>
            </ul>
        </li>
    <!-- End Analyst -->

    <!-- Cyber Hunt -->
        <li class="dropdown">
            <a id="dLabel" role="button" data-toggle="dropdown" class="dropdown-toggle nav-link" data-target="#" href="/">
                Cyber Hunt
                <span class="caret"></span>
            </a>
        
            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">IOC Tracker</a>
                    <ul class="dropdown-menu">
                        <li><a class="nav-link" href="#">Windows</a></li>
                        <li><a class="nav-link" href="#">Linux</a></li>
                        <li><a class="nav-link" href="#">Mac</a></li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Attack Matrix</a>
                    <ul class="dropdown-menu">
                        <li><a class="nav-link" href="#">Windows</a></li>
                        <li><a class="nav-link" href="#">Linux</a></li>
                        <li><a class="nav-link" href="#">Mac</a></li>
                    </ul>
                </li>
                <li><a class="nav-link" href="/">Query Status</a></li>
            </ul>
        </li>
    <!-- End Cyber Hunt -->

    <!-- Program Support -->
        <li class="dropdown">
            <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="/">
                Program Support
                <span class="caret"></span>
            </a>

            <ul class="dropdown-menu">
                <li><a href="/" class="nav-link">User Administration</a></li>
                <li><a href="/" class="nav-link">Group Administration</a></li>
                <li><a href="/" class="nav-link">External User Administration</a></li>
            </ul>
        </li>
    <!-- End Program Support -->

    <!-- User Metrics -->
        <li><a href="/" class="nav-link">User Metrics</a></li>
    <!-- End User Metrics -->

    <!-- Subscriber Database -->
        <li><a href="/" class="nav-link">Subscriber Database</a></li>
    <!-- End Subscriber Database -->

    <!-- Ticketing -->
        <li><a href="/" class="nav-link">Ticketing</a></li>
    <!-- End Ticketing -->

    <!-- Tools -->
        <li><a href="/" class="nav-link">Tools</a></li>
    <!-- End Tools -->

    <!-- Login -->
        {% if current_user.is_anonymous %}
            {% block login %}
                <li class="nav nav-login dropdown" id="login">
                    <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="/">
                        Login
                        <span class="caret"></span>
                    </a>
                
                    <ul class="dropdown-menu dropdown-menu-right" id="login-dropdown">
                        <li>
                            <form action="" method="POST">
                                {{ form.hidden_tag() }}
                                <p>
                                    {{ form.username.label }}<br>
                                    {{ form.username(size=32) }}<br>
                                    {% for error in form.username.errors %}
                                    <span style="color: rgb(202, 1, 1);">[{{ error }}]</span>
                                    {% endfor %}
                                </p>
                                <p>
                                    {{ form.password.label }}<br>
                                    {{ form.password(size=32) }}<br>
                                    {% for error in form.password.errors %}
                                    <span style="color: rgb(202, 1, 1);">[{{ error }}]</span>
                                    {% endfor %}
                                </p>
                                <p>{{ form.submit() }}</p><hr>
                                <p>New User? <a href="{{ url_for('main.register') }}">Click to register!</a></p>
                            </form>
                        </li>
                    </ul>
                </li>
            {% endblock %}
        {% else %}
            {% block logout %}
                <li class="nav nav-login dropdown" id="login">
                    <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="/">
                        {{ current_user.username }}
                        <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right" id="login-dropdown">
                        <li><a href="{{ url_for('main.logout') }}" class="nav-link">Sign Out</a></li>
                    </ul>
                </li>
            {% endblock %}
        {% endif %}
    <!-- End Login -->
    </ul>
<!-- End Navigation bar -->
{% endblock %}

{% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}

    {% block page_content %}{% endblock %}

{% endblock %}
