{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="../static/css/dashboard.css">
{% endblock %}

{% block page_content %}
<div class="container">
    <div class="item item-0 text-center"><h1>Dashboard</h1></div>
    <div class="item item-1 text-center"><h2>Big Numbers</h2></div>
    <div class="item item-2 text-center"><h3>Open Tickets</h3></div>
    <div class="item item-3 text-center"><h3>Closed Tickets</h3></div>
    <div class="item item-4 text-center"><h3>Last Month</h3></div>
    <div class="item item-5 text-center"><h3>This Quarter</h3></div>
    <div class="item item-6 text-center"><h3>Ticket Leader</h3></div>
    <div class="item item-7 text-center big-numbers"><h2>{{ open_tickets }}</h2></div>
    <div class="item item-8 text-center big-numbers"><h2>{{ closed_tickets }}</h2></div>
    <div class="item item-9 text-center big-numbers"><h2>{{ last_month }}</h2></div>
    <div class="item item-10 text-center big-numbers"><h2>{{ this_quarter }}</h2></div>
    <div class="item item-11 text-center big-numbers"><h2>{{ ticket_leader }}</h2></div>
</div>
{% endblock %}