{% extends "base.html" %}
{% import "_helpers.html" as macros %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="../static/css/profile.css">
{% endblock %}

{% block page_content %}
    <h1 class="text-center">User - {{ user.username }}</h1>
    <hr>
    <div class="profile container">
        {% call macros.render_form(action_url=url_for('auth.change_email'), method="POST",
                                    class="form-inline", button_text="Save") %}
            {{ macros.render_field('Change Email Address', type='text', field_class='mb-2',
                                    id='current-email', value=user.email) }}
            {{ macros.render_field('New Email Address', label_class='sr-only', type='email',
                                    field_class='mx-sm-3 mb-2', id='new-email', name='new-email',
                                    placeholder='New Email Address') }}
        {% endcall %}

        {% call macros.render_form(action_url=url_for('auth.change_password'), method="POST",
                                    class="form-inline", button_text="Save") %}
            {{ macros.render_field('Change Password', type='password', field_class='mb-2',
                                    id='new-password', name='new-password',
                                    placeholder='New Password') }}
            {{ macros.render_field('Retype New Password', label_class='sr-only', type='password',
                                    field_class='mx-sm-3 mb-2', id='new-password2',
                                    name='new-password2', placeholder='Retype New Password') }}
        {% endcall %}
    </div>

    <script type="text/javascript" src="../static/js/profile.js">
    </script>
{% endblock %}
